.features{
    padding-top: 4vh;
    padding-left: 1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: azure;
    align-items: center;
   
    .buc{
       text-align: center;
       box-shadow: 1px 2px 10px 10px #665050;
       width: 30vw;
       height: 42vh;
       margin-right: 2vw;
       background-color: rgb(255, 255, 255);
       
    }
}

.features2{
    padding-top: 4vh;
    padding-left: 1vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: azure;
    align-items: center;
   
    .buc2{
       text-align: center;
       color: black;
       width: 30vw;
       height: 8vh;
       margin-right: 2vw;
       background-color: rgb(255, 255, 255);
       
    }
}