.intro{
    h4{
        color: rgb(237, 119, 15);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    margin-left: 20vw;
    margin-top: 1vh;
    width:60vw ;
}